ft = footer

.{ft}
    .{ft}-inner
        display grid
        grid-gap 5em        
        .{ft}-social
            display grid
            // grid-template-columns: repeat(auto-fill,minmax(250px,auto));
            grid-template-columns repeat(2, 1fr)
            grid-gap 2em
            .{ft}-email
                .form-control
                    width 20em
                .{ft}-email-p
                    margin-bottom 1em
            .{ft}-soc 
                display grid
                grid-template-columns repeat(2, 1fr)
                align-items center
                .{ft}-soc-p
                    text-align right    
                .{ft}-soc-img-pack    
                    display flex
                    justify-content space-between
                    .{ft}-soc-img__item
                        margin-right 10px
                        width 30px
                        height 30px
        .{ft}-link
            display grid
            grid-template-columns: repeat(auto-fill,minmax(250px,auto));
            grid-gap 2em
        .{ft}-reserved
            text-align right
            margin-top 3em
                        


