ft = footer
grid(even = #fff, odd = #eee)
    display grid
    grid-template-columns repeat(2, 1fr)

.{ft}
    .{ft}-inner
        margin-bottom 20em
        .{ft}-contact
            grid()
            .{ft}-soc 
                grid()
                .{ft}-soc-img-pack    
                    display flex
                    justify-content space-between
                    .{ft}-soc-img__item
                        margin-right 10px
                        width 30px
                        height 30px
                        


