section.section.section--about
    .container
        .about
            .about-inner
                .about-left
                    h3.about-h3 COMFORT
                    p The Kawasaki Vulcan S incorporates sport bike pedigree into a well balanced and capable mid-range cruiser but with the Vulcan S, Kawasaki aimed to tackle a common complaint voiced by new riders. the problem of finding a motorcycle that that physically fits taller or shorter riders.
                    img.about-img_svg(src="accepts/img/about-circle.svg", alt="alt")
                .about-img 
                    img.about-img_center(src="http://via.placeholder.com/720x1520", alt="alt")
                .about-right 
                    h3.about-h3 PERFORMANCE
                    p Powering the Kawasaki Vulcan S is the Kawasaki’s 649cc parallel twin engine, which is also found in the ever-popular and sporty Ninja 650. The 649 cc engine produces 54.0 hp at 7,100 rpm.
                    img.about-img_svg(src="accepts/img/about-circle.svg", alt="alt")