section.section
    .container
        .degrees
            .degrees-inner
                .degrees-left
                    h3.degrees-h3 Power and performance.
                    p WAS DESIGNED TO BE DIFFERENT.
                .degrees-right 
                    img(src="http://via.placeholder.com/1320x720", alt="alt")
