section.main-bgc
    .container
        .main
            .main-inner
                .main-text
                    h1.main-h1 VULCAN S
                img.main-img(src="img/motorcycle.svg", alt="alt")