section.main-bgc
    .container
        .main
            .main-inner
                .main-text
                    h1.main-h1 VULC<span class="main-h1-span">AN S<span>
                img.main-img(src="accepts/img/motorcycle.svg", alt="alt")