section.section
    .container
        .spec
            .spec-inner
                .spec-top
                    .spec-left
                        h3 Specification
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur repellat ut, sed corrupti dicta eveniet!
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus tempore facere error praesentium nihil corporis!
                        p   LEARN MORE
                    .spec-right
                        h2 S 650
                        img(src="accepts/img/motorcycle.svg", alt="alt")
                .spec-bottom 
                    .spec-bottom-item 
                        p 106
                        p MPH
                    .spec-bottom-item 
                        p 229
                        p KG
                    .spec-bottom-item 
                        p 5,7 <span>L</span>
                        p /100km