section.section
    .container
        .spec
            .spec-inner
                .spec-top
                    .spec-left
                        h3.spec-h3 Specification
                        p.spec-p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                        p.spec-p Eiusmod tempor incididunt ut labore et dolore magna aliqua. Luis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel filisise. 
                        p.spec-p   LEARN MORE
                    .spec-right
                        .spec-text
                            h3.spec-h3 S 650
                        img.spec-img(src="accepts/img/motorcycle.svg", alt="alt")
                .spec-feature 
                    .spec-feature-item 
                        p 106
                        p MPH
                    .spec-feature-item 
                        p 229
                        p KG
                    .spec-feature-item 
                        p 5,7 <span>L</span>
                        p /100km