footer.footer
    .container
        .footer-inner
            .footer-contact
                .footer-contact__email 
                    p.email_p Subscribe to our newsletter
                    input.form-control#exampleInputEmail1(type="email" aria-describedby="emailHelp" placeholder="your@email")
                .footer-contact__social
                    p.social_p Social networks
                    .footer-img
                        img.footer-img__item(src="accepts/img/footer/instagram.svg", alt="instagram")
                        img.footer-img__item(src="accepts/img/footer/telegram.svg",  alt="telegram")
                        img.footer-img__item(src="accepts/img/footer/pinterest.svg", alt="pinterest")
                        img.footer-img__item(src="accepts/img/footer/facebook.svg",  alt="facebook")
                        img.footer-img__item(src="accepts/img/footer/twitter.svg",   alt="twitter")       
      
            .footer-link
                .footer-link__item
                    p Sport
                    p Riding
                    p Cruiser
                    p Muscle
                .footer-link__item
                    p Shop
                    p About
                    p Journal
                    p Press
                    p Contact
                .footer-link__item
                    p Kawasaki
                    p Suzuki
                    p Yamaha
                    p Honda
                    p Harley-Davidson
                .footer-link__item
                    p E-mail info@example.com
                    p Phone 779-240-9608

            .footer-reserved
                p.footer-reserved__p © 2019 HOGASH STUDIO. All rights reserved.


            