footer.footer
    .container
        .footer-inner
            .footer-contact
                .footer-email 
                    p Subscribe to our newsletter
                    input(type="email" aria-describedby="emailHelp" placeholder="Enter email")
                .footer-soc
                    p Social networks
                    .footer-soc-img-pack
                        img.footer-soc-img__item(src="accepts/img/footer/instagram.svg", alt="instagram")
                        img.footer-soc-img__item(src="accepts/img/footer/telegram.svg", alt="telegram")
                        img.footer-soc-img__item(src="accepts/img/footer/pinterest.svg", alt="pinterest")
                        img.footer-soc-img__item(src="accepts/img/footer/facebook.svg", alt="facebook")
                        img.footer-soc-img__item(src="accepts/img/footer/twitter.svg", alt="twitter")
            .footer-bottom

            