footer.footer
    .container
        .footer-inner
            .footer-social
                .footer-email 
                    p.footer-email-p Subscribe to our newsletter
                    //- input(type="email" aria-describedby="emailHelp" placeholder="Enter email")
                    input.form-control#exampleInputEmail1(type="email" aria-describedby="emailHelp" placeholder="your@email")
                .footer-soc
                    p.footer-soc-p Social networks
                    .footer-soc-img-pack
                        img.footer-soc-img__item(src="accepts/img/footer/instagram.svg", alt="instagram")
                        img.footer-soc-img__item(src="accepts/img/footer/telegram.svg", alt="telegram")
                        img.footer-soc-img__item(src="accepts/img/footer/pinterest.svg", alt="pinterest")
                        img.footer-soc-img__item(src="accepts/img/footer/facebook.svg", alt="facebook")
                        img.footer-soc-img__item(src="accepts/img/footer/twitter.svg", alt="twitter")
            .footer-link
                .footer-discover
                    p Sport
                    p Riding
                    p Cruiser
                    p Muscle
                .footer-visit
                    p Shop
                    p About
                    p Journal
                    p Press
                    p Contact
                .footer-brands
                    p Kawasaki
                    p Suzuki
                    p Yamaha
                    p Honda
                    p Harley-Davidson
                .footer-contact
                    p E-mail info@example.com
                    p Phone 779-240-9608
            .footer-reserved
                p © 2019 HOGASH STUDIO. All rights reserved.


            