// Poppins-Medium 
@font-face 
    font-family 'Poppins-Medium '
    src url('/fonts/Poppins/Poppins-Medium.ttf')
    font-weight normal
    font-style normal

// Josefin_Sans-Regular     
@font-face 
    font-family 'Josefin_Sans-Regular'
    src url('/fonts/Josefin_Sans-Regular.ttf')
    font-weight normal
    font-style normal

// Josefin_Sans-Light     
@font-face 
    font-family 'Josefin_Sans-Bold'
    src url('/fonts/Josefin_Sans-Bold.ttf')
    font-weight normal
    font-style normal

// Josefin_Sans-SemiBold     
@font-face 
    font-family 'Josefin_Sans-Italic'
    src url('/fonts/Josefin_Sans-Italic.ttf')
    font-weight normal
    font-style normal

// Josefin_Sans-Bold     
@font-face 
    font-family 'Josefin_Sans-Bold'
    src url('/fonts/Josefin_Sans-Bold.ttf')
    font-weight normal
    font-style normal


RegularText = 
    font-family '-Regular', sans-serif
MediumText = 
    font-family '-Medium', sans-serif
BoldText = 
    font-family '-Bold', sans-serif
ItalicText = 
    font-family '-Italic', sans-serif