// Poppins-Medium 
@font-face {
	font-family: 'Poppins-Medium';
	src: url('fonts/Poppins-Medium.eot');
	src: local('☺'), url('fonts/Poppins-Medium.woff') format('woff'), 
                     url('fonts/Poppins-Medium.ttf')  format('truetype'), 
                     url('fonts/Poppins-Medium.svg')  format('svg');
	font-weight: 500;
	font-style: normal;
}

// JosefinSans-Regular     
@font-face {
	font-family: 'JosefinSans-Regular';
	src: url('fonts/regular/JosefinSans-Regular.eot');
	src: local('☺'), url('fonts/regular/JosefinSans-Regular.woff') format('woff'), 
                     url('fonts/regular/JosefinSans-Regular.ttf')  format('truetype'), 
                     url('fonts/regular/JosefinSans-Regular.svg')  format('svg');
	font-weight: normal;
	font-style: normal;
}

// JosefinSans-Light     
@font-face {
	font-family: 'JosefinSans-Light';
	src: url('fonts/light/JosefinSans-Light.eot');
	src: local('☺'), url('fonts/light/JosefinSans-Light.woff') format('woff'), 
                     url('fonts/light/JosefinSans-Light.ttf')  format('truetype'), 
                     url('fonts/light/JosefinSans-Light.svg')  format('svg');
	font-weight: 300;
	font-style: normal;
}

// JosefinSans-SemiBold     
@font-face {
	font-family: 'JosefinSans-SemiBold';
	src: url('fonts/semibold/JosefinSans-SemiBold.eot');
	src: local('☺'), url('fonts/semibold/JosefinSans-SemiBold.woff') format('woff'), 
                     url('fonts/semibold/JosefinSans-SemiBold.ttf')  format('truetype'), 
                     url('fonts/semibold/JosefinSans-SemiBold.svg')  format('svg');
	font-weight: 600;
	font-style: normal;
}

// JosefinSans-Bold     
@font-face {
	font-family: 'JosefinSans-Bold';
	src: url('fonts/bold/JosefinSans-Bold.eot');
	src: local('☺'), url('fonts/bold/JosefinSans-Bold.woff') format('woff'), 
                     url('fonts/bold/JosefinSans-Bold.ttf')  format('truetype'), 
                     url('fonts/bold/JosefinSans-Bold.svg')  format('svg');
	font-weight: 700;
	font-style: normal;
}


JosefinSansRegular = 
	font-family 'JosefinSans-Regular', sans-serif
	font-weight normal
	font-style normal
JosefinSansLight = 
	font-family 'JosefinSans-Light', sans-serif
	font-weight 300
	font-style normal
JosefinSansSemiBold = 
	font-family 'JosefinSans-SemiBold', sans-serif
	font-weight 600
	font-style normal
JosefinSansBold = 
	font-family 'JosefinSans-Bold', sans-serif
	font-weight 700
	font-style normal
