ab = about

.{ab}-bgc
    background: linear-gradient(to right, #8e0e00, #1f1c18 );
    .{ab}
        .{ab}-inner
            display grid 
            grid-template-columns: repeat(3, 1fr)
            align-items center

            height 1130px
            width: 100%;
            // background: linear-gradient(to right, #080808 33%, #fcb507 70%, #080808 33%);
            // #8e0e00 → #1f1c18

            // background: linear(to right, #080808 33%, #fcb507 70%, #080808 33%)
            // background linear-gradient(to right, rgba(8,8,8,1) 33%, rgba(252,181,7,1) 70%, rgba(8,8,8,1) 33%)

            .{ab}-img
                width 30px
                height 30px

                display block
                margin 0 auto