ab = about

.{ab}
    .{ab}-inner
        display grid 
        grid-template-columns: repeat(3, 1fr)
        align-items center
        grid-gap 3em
        @media screen-md
            grid-template-columns repeat(1, 1fr)
            grid-template-rows 30em 30em
        @media screen-sm
            align-items normal
            grid-template-rows 25em 25em
        .{ab}-left
            @media screen-md
                padding 0 8em
            @media screen-sm
                padding 0 6em
            @media screen-xs
                padding 0 2em
            .{ab}-img_svg
                display block

                width 30px
                height 30px
                margin 0 auto
                margin-top 3em
            .{ab}-h3
                margin-bottom 1em
                text-align center
                color color-main
        .{ab}-img
            @media screen-md
                display none
        .{ab}-right
            @extend .{ab}-left