pf = performance

.{pf}
    .{pf}-inner
        display grid
        grid-template-columns: repeat(2, 1fr)
        @media screen-sm
            grid-template-columns: repeat(1, 1fr)
            grid-gap 3em
        .{pf}-h3
            margin-bottom 1em
            color color-main