m = main

.{m}-bgc
    padding 10em 0
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #fcb507 50%, #090909 50%);
    position relative
    .{m}
        .{m}-inner
            .{m}-text
                display flex
                align-items center
                justify-content center
                .{m}-h1
                    margin 0 auto
                    font-size: calc(50px + (100 + 100 * 0.7) * ((100vw - 320px) / 1170))
                    .{m}-h1-span
                        color white
            .{m}-img
                background: url(http://site.ru/fon.png) 100% 0 repeat-y
                position absolute
                z-index 2

                width 500px
                height 500px

                left 50%
                margin-left: -250px

                top 50%
                margin-top -250px
                

                @media(max-width 576px)
                    width 400px
                    height 400px
                    margin-left: -200px;
                    margin-top: -100px;

                @media (max-width: 376px)
                    width 300px
                    height 300px
                    left 30%
                    margin-left -90px
                    top 30%
                    margin-top 0
                
                // @media screen (20em <= width <= 39em )
