sp = spec

.{sp}
    .{sp}-inner
        .{sp}-top
            display grid 
            grid-template-columns: repeat(2, 1fr)
            .{sp}-left
                display flex
                align-items center
                justify-content center
        .{sp}-bottom
            display grid 
            grid-template-columns: repeat(3, 1fr)
            .{sp}-bottom-item
                display grid
                justify-items center

